html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	/* border: 0; */
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */

	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
/* above is the CSS reset */


*{
box-sizing: border-box;
/* border: 1px solid grey; */
padding: 0;
margin: 0;
max-width: 100%;
font-size: 62.7%;
font-family: 'Roboto Mono';
}

/* General Styles */
html{
    font-size:62.5%;
    margin: 0 auto;
}

body{
    font-size:1.6rem;
    line-height:1.5;
    color:#4f4f4f;  /* accessibility*/
}

section{
    padding: 4% 0;
}

a{text-decoration: none;
}

/* Header Section Styles */

nav{ 
    padding: 2% 0;
}

nav a{
    display: inline-block;
    padding: .3% 0;
    width: 15%;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    color: white;    
}

.nav-item-1{
    background-color: #FF764E;
    margin-left: 12%;
}

.nav-item-2{
    background-color: #5ED3EB;
    margin: 0 15%;
}

.nav-item-3{
    background-color: #FFCD69;
}

/* Top section styles */

.top{
    position: relative;
    color: black;
}

.left, .right{
    display: inline-block
}

.left{
    margin-left: 7%;
    width: 20%;
    border-radius: 50%;
}
.left-pic{
    border-radius: 50%;
}

.right{
    position: absolute;
    margin-top: 2%;
    margin-left: 10%;
    text-align: center;
}

.right p{
    font-size: 1.35rem;
    margin-left: 7%;
}


h1{
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem;
   }